.center {
  display: flex;
  justify-content: center;
  margin: 125px auto 0 auto;
}

.center > div {
  width: 25%;
}

.center > div > button {
  width: 80%;
  background: rgba(255, 255, 255, 0.219);
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .center > div > button {
    width: 120px !important;
  }
}

.button--icon {
  padding-left: 0;
  padding-right: 0;
}
