.modalWindow::-webkit-scrollbar {
    width: 15px;
}

.modalWindow::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    -webkit-box-shadow: inset 0 0 6px rgba(231, 47, 1, 0.651);
}

.modalWindow::-webkit-scrollbar-thumb {
    background-color: var(--one);
    outline: 1px solid var(--one);
}

.closeButton {
  text-align: right;
}

.modalWindow {
  transition: 0.8s ease-in;
}

.modalWindow h5 {
  color: rgb(226, 78, 66);
}
