.nav-buttons {
    margin-left: auto;
    padding: 15px;
}

#header a {
    color: var(--three);
    margin-bottom: 7px;
}

#header .active {
    color: #fff
}

#header a:hover {
    color: #fff
}

.logo-active{
    transition: height 0.3s;
}

.scroll {
    background: rgba(255, 255, 255, 1);
    height: 65px
}

.smLogo > a > img {
    height: 40px;
    position: relative;
    transition: 0.3s;
}

.scroll > .nav-buttons {
    position: relative;
}


  @media only screen and (max-width: 800px) {
    #header {
        background: #fff
    }
}