.nav-buttons {
    margin-left: auto;
    padding: 15px;
}

.button-primary {
    transition: all 0.4s;
}

#header {
    transition: all 0.4s;
}

#header a {
    color: var(--three);
}

#header .active {
    color: #fff
}

#header a:hover {
    color: #fff
}

.logo-active {
    transition: height 0.3s;
    cursor: pointer;
}

.scroll {
    background: rgba(255, 255, 255, 0.9);
    height: 65px
}

.smLogo>a>img {
    height: 40px;
    position: relative;
    transition: 0.3s;
}

.scroll>.nav-buttons {
    position: relative;
}

@media only screen and (max-width: 991px) {
    #header {
        background: rgba(255, 255, 255, 0.9);
    }
}