.nav-buttons {
    margin-left: auto;
    padding: 15px;
}

.button-primary {
    transition: all 0.4s;
}

.navbar-toggler {
    transition: all 0.4s;
    margin-left:auto;
}

.navbar-toggler:focus {
    outline:0;
}

.navbar-toggler:hover {
    background-color: var(--three);
}

.navbar-toggler:hover .toggle-button-line {
    background: #fff;
}

.toggle-button-line {
	width: 30px;
    height: 1.5px;
    margin: 5px;
	background: grey;
}

#header {
    transition: all 0.4s;
}

#header a {
    color: var(--one);
}

#header .active {
    color: #fff;
}

#header a:hover {
    color: #fff
}

.logo-active {
    transition: height 0.3s;
    cursor: pointer;
}

.scroll {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px var(--three);
    height: 65px;
}

.smLogo>a>img {
    height: 40px;
    position: relative;
    transition: 0.3s;
}

.scroll>.nav-buttons {
    position: relative;
}

@media only screen and (max-width: 991px) {
    #header {
        background: rgba(255, 255, 255, 0.9);
    }
    .nav-buttons a:first-child {
        margin-bottom: 7px;
    }
}